* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#mainPage {
    display: block;
}

#FureverTitle {
    font-family: "Fredoka One";
}

#footer-text {
    font-family: "Fredoka One";
}

dog-logo path {
    fill: #fff;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.jumbotron {

    background-size:0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: center 50%;

}

.quiz {
    width: 80%;
    height: 200px;
    margin: 20px auto;
    border: 3px black;
}

.quiz h2 {
    margin: 8px;
    padding-top: 10px;
}

.quiz li {
    margin: 10px;
}

.quiz li:hover {
background: orange;
}

/*-----Question Displays-----*/



#questionOne {
    display: none;
}

#questionTwo {
    display: none;
}

#questionThree {
    display: none;
}

#questionFour {
    display: none;
}

.results {
    display: none;
} 